@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	position:relative;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-flow: row wrap;
	margin:0;
	padding: 0;
}

body > * {
	padding:1em;
	position:relative;
	flex: 1 100%;
}

address{
	text-decoration:none;
	white-space: pre;
}

header {
	background: tomato;
	background: transparent;
	border-bottom: 1px solid darkgray;
}

header > h1 {
	margin:0px;
}

footer {
	background: lightgreen;
	background: transparent;
	font-size:0.5em;
	text-align:left;
	border-top: 1px solid darkgray;
}

main {
	text-align: left;
	background: deepskyblue;
	background: white;
}

body > section:last-of-type {
	background: hotpink;
	background: deepskyblue;
}

body > section:first-of-type {
	background: gold;
	background: transparent;
	border-right: 1px solid darkgray;
}

body> section:first-of-type > div {
	position: -webkit-sticky;
	position: sticky;
	top:1em;
}


button, input{
	border: 1px solid black;
	border-radius:0.25em;
	
}

button:hover, input:hover,input:focus{
	box-shadow: 0px 0px 10px #888888;
}

button {
	background:transparent;
}

label{
	display:block;
	font-weight: bold;
	margin-bottom: 0;
	margin-top:1em;
}

input{
	display:block;
	margin-top:0;
	margin-bottom: 1em;
	width:100%;
}

/**** custom components ***/

.showhide{
	display:none;
}

button.showhide {
	display:block;
	position:absolute;
	right:0px;
	top:0px;
	background:transparent;
	border:0;
}

.fail{
	/* border-color:darkred;
	background-color:darkred;
	color:white;*/
	font-weight:bold;
}

input.fail{
	border-color:red;
	box-shadow: 0 0 10px red;
}

input.warn{
	border-color:orange;
	box-shadow: 0 0 10px orange;
}

input.pass{
	border-color:green;
	box-shadow: 0 0 10px green;
}

@media all and (min-width: 400px) {
	body > main {
		flex: 10 0px; 
		order: 2;
	}
	body > section { 
		flex: 0 auto; 
	}
	body > section:last-of-type { 
		order: 3; 
	}
	body > section:first-of-type { 
		order: 1; 
	} 
	footer { 
		order: 4; 
	}
}

table, th, td{
	border-collapse: collapse;
	padding: 0.2em;
	border: 1px solid black;
}

span.dc-chart{
	display:inline-block;
}
